/* Estilos base para el contenedor de categorías */
.categories-component {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

/* Estilos para la versión de escritorio (cuadrícula) */
.desktop-categories {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espacio entre elementos */
}

/* Estilos para la versión móvil (carrusel) */
.mobile-categories {
    display: none; /* Oculta el carrusel en escritorio */
}

/* Estilos comunes para las categorías */
.categories-component .iconContainer {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-component .iconContainer svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.categories-component .category {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
}

.categories-component .category:hover {
    transform: scale(1.05);
}

.categories-component .category p {
    font-size: 0.8rem;
    color: #8e8e8e;
    font-family: var(--lato);
    font-weight: 500;
    margin-top: 0.5rem; /* Espacio entre el ícono y el texto */
}

.categories-component .selected p {
    color: black;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .categories-component {
        flex-direction: column-reverse;
    }
    .desktop-categories {
        display: none; /* Oculta la cuadrícula en móvil */
    }

    .mobile-categories {
        display: block; /* Muestra el carrusel en móvil */
    }

    /* Ajustes adicionales para el carrusel en móvil */
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}