#root {
  --darkBlue: #0A0A25;
  --darBlueLetter: #1B3B5F;
  --lightBlue: #3083FF;
  --lightGrey: #969696;
  --mediumGrey: #747A91;
  --blue-purple: #E9EBF8;
  --white: #FEFEFE;
  --mediumWhite: #F5F5F5;
  --pureWhite: #FFFFFF;
  --red: #FF4F4F;
  --whatsapp: #2db742;
  --lato: 'Lato', sans-serif;
  --openSans: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa;
}

main {
  flex: 1;
}

.swal2-container {
  z-index: 1300;
}

.MuiDateCalendar-root {
  height: auto !important;
}

.MuiPickersCalendarHeader-root{
  display: none !important;
}

.MuiDateCalendar-root .Mui-selected{
  color: rgba(0, 0, 0, 0.87) !important;
  background-color: transparent !important;
  opacity: 1 !important;
}

.MuiDateCalendar-root .MuiPickersDay-today {
  color: #fff !important;
  background-color: #1976d2 !important;
  font-weight: 500 !important;
}

.MuiDateCalendar-root .Mui-disabled {
  color: rgba(0, 0, 0, 0.38) !important;
  text-decoration: line-through !important;
}
